
body{
background:lightgray;
color:white;
padding:0;
margin:0;
font-family: Arial, Helvetica, sans-serif;
}

header{
background: #1F4D2F;
color: white;
padding:100;
}

footer{
background-color: #BA8A43;
font-size: 30px;
color: #24160F;
margin: 20px;
padding:10px;
box-shadow: 5px 5px black;
}

h1{
font-size:70px;
}

h3{
font-size:40px;
color:#24160F;
margin:50px;
}

h4{
font-size:40px;
color:#1F4D2F;
margin-left:50px;
margin-top:20px;
margin-bottom:20px;
}


section1 {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  margin:10px;
}

section2 {
  display: flex;
  flex-direction: row;
}

div1 {
  background-color: #BA8A43;
  margin: auto;
  padding: 20px;
  font-size: 30px;
  width:250px;
  height:40px;
  text-align:center;
  box-shadow: 5px 5px black;
}

div1:hover{
	background-color:#64D962;
	color:white;
	transition: .3s ease all;
	transform: translateY(-5px);
}

p {
font-size:20px;
color:#24160F;
margin:50px;
margin-top:0px;
}

form {
	background-color:white;
	width:400px;
	height:450px;
	text-align:center;
   font-size:20px;
   color:#24160F;
   margin:auto;
   margin-top:0px;
   padding:10px;
    border-radius: 25px;
	box-shadow: 10px 10px;
}

button{
	background-color:#BA8A43;
	color:white;
	transition: .3s ease all;
	font-size:20px;
}

button:hover{
	background-color:#64D962;
	color:white;
	transition: .3s ease all;
	transform: translateY(-5px);
}

   a:hover {
        color: white;
    }
    a:visited {
        color: white;
    }
    a:focus {
        color: white;
    }
	
	a{
	text-decoration: none;
	}
	
img {
		border-radius: 25px;
		border:5px solid #1F4D2F;
	}